// Common styling for app
@import '../../node_modules/vuetify/src/stylus/settings/_colors.styl'

.clickable:hover {
  cursor: pointer;
}

.terciary--text {
  color: #306b93;
}

.turquoise--text {
  color: #03BBC1;
}

.showElement {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transition: all 1.2s ease-out;
  -moz-transition: all 1.2s ease-out;
  transition: all 1.2s ease-out;
}
.hidden {
  opacity: 0;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}